<div class="dashboard-container overlay-10 padded-content-page" layout="column">
	<md-content class="md-padding">
	    <div layout-margin flex>    
			<md-toolbar>
		      	<div class="md-toolbar-tools">
		          	<h2 class="md-title">Orders</h2>		          	
		          	<div flex></div>
		          	<md-button class="button icon-left button-assertive" ng-click="vm.showOrderLineItemDialog($event, null, -1)">
		              	<md-icon md-font-icon="zmdi zmdi-plus-circle-o"></md-icon>
		              	Add Pizza
		          	</md-button>
		      	</div>
			</md-toolbar>
			<md-table-container>
		        <table md-table class="md-primary md-data-table">
		            <thead md-head>
		                <tr md-row>
		                    <th md-column><span>Size</span></th>
		                    <th md-column><span>Toppings</span></th>
		                    <th md-column><span>Quantity</span></th>
		                    <th md-column><span>Sub-Total</span></th>
		                    <th md-column><span>Actions</span></th>
		                </tr>
		            </thead>
		            <tbody md-body>
		                <tr md-row md-auto-select md-select="order" ng-repeat="order in vm.order.orderLineItems">		                    
		                    <td md-cell>{{order.pizza.name}}</td>
		                    <td md-cell><span ng-repeat="topping in order.toppingOrderLineItems">{{topping.name}}<span ng-if="!$last">,</span></span></td>
		                    <td md-cell><span>{{order.quantity}}</span></td>
		                    <td md-cell><span>{{order.quantity * order.subtotal | currency}}</span></td>
		                    <td md-cell>
		                    	<md-button class="md-icon-button" ng-click="vm.addQuantity($index)" aria-label="ADD">
		                    		<md-icon class="md-warn" md-font-icon="zmdi zmdi-plus-circle-o"></md-icon>
		                    		<md-tooltip><span>ADD QUANTITY</span></md-tooltip>
		                    	</md-button>
		                    	<md-button class="md-icon-button" ng-click="vm.deductQuantity($index)" aria-label="DEDUCT">
	                    			<md-icon class="md-warn" md-font-icon="zmdi zmdi-minus-circle-outline"></md-icon>
	                    			<md-tooltip><span>DEDUCT QUANTITY</span></md-tooltip>
	                			</md-button>                    			
	                			<md-button class="md-icon-button" ng-click="vm.showOrderLineItemDialog($event, order, $index)" aria-label="EDIT">
	                				<md-icon class="md-warn" md-font-icon="zmdi zmdi-edit"></md-icon>
	                				<md-tooltip><span>EDIT</span></md-tooltip>
	                			</md-button>
	                			<md-button class="md-icon-button" ng-click="vm.showConfirmDeleteDialog($event, $index, false)" aria-label="DELETE">
	                    			<md-icon class="md-warn" md-font-icon="zmdi zmdi-delete"></md-icon>
	                    			<md-tooltip><span>DELETE</span></md-tooltip>
	                			</md-button>                    			
	                		</td>
		                </tr>
		            </tbody>
		        </table>		        
		    </md-table-container>
		    <div>
		    	<md-divider></md-divider>
		    	<div class="margin-left-20">
		    		<h4>Subtotal : {{vm.subtotal | currency}}</h4>
		    		<h4>GST : {{vm.gst | currency}}</h4>
		    		<h4>Total : {{vm.subtotal + vm.gst | currency}}</h4>
		    	</div>
		    	<div layout="row">
		    		<md-button ng-click="vm.checkout($event)"
		    		           class="send-button md-accent md-raised"
		    		           ng-disabled="vm.order.orderLineItems.length <=0"
		    		           aria-label="CHECKOUT">
		    		    CHECKOUT
		    		</md-button>
		    		<md-button class="button button-assertive" ng-disabled="vm.order.orderLineItems.length <=0" ng-click="vm.showConfirmDeleteDialog($event, null,true)" aria-label="Cancel">
		    		    CLEAR
		    		</md-button>
		    	</div>
		    </div>    	   
	    </div>

        <div layout-margin class="margin-top-100">    
    		<md-toolbar>
    	      	<div class="md-toolbar-tools">
    	          	<h2 class="md-title">Recent Orders : {{vm.orders.data.length}}</h2>    	          	    	          
    	      	</div>
    		</md-toolbar>
    		<md-list>
    		    <md-list-item ng-repeat="order in vm.orders.data track by $index">
    		    	<p>Total {{order.subtotal + order.gst}} -- By : {{order.user.name}} -- At : {{order.createdAt | amDateFormat: 'dddd, MMMM Do YYYY hh:mm a'}}</p>
    		    	<md-button class="md-icon-button" ng-click="vm.showOutputDialog($event, order)" aria-label="Receipt">
    		    	    <md-icon class="md-warn" md-font-icon="zmdi zmdi-receipt"></md-icon>
    		    	    <md-tooltip><span><DATA>Receipt</DATA></span></md-tooltip>
    		    	</md-button>
    		    </md-list-item>
    		</md-list-item>
    	</div>
	</md-content>
</div>