<div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.showProgress">
    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="30"></md-progress-circular>
</div>