<!-- DIALOG -->
<md-dialog class="trip-dialog" aria-label="New Hotel Stay" flex="50">

    <form name="oliForm" class="md-inline-form" ng-disabled="vm.updating" novalidate>
        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent" layout="column">
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row">
                <span class="title">{{vm.title}} <span class="margin-left-10" ng-if="vm.subtotal"> SubTotal : {{vm.subtotal | currency}}</span></span>
                <span flex></span>                
                <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="Close dialog">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding ms-scroll>
           <md-input-container class="md-input-has-placeholder md-block margin-top-25" flex-gt-sm>
                <label>Pizza</label>
                <md-select ng-model="vm.oli.pizza"  ng-model-options="{trackBy: '$value.id'}" name="pizzaInput" required>                    
                    <md-optgroup label="Pizzas">
                        <md-option ng-value="item" ng-repeat="item in vm.pizzas">{{item.name}} - {{item.price | currency}}</md-option>
                    </md-optgroup>
                </md-select>
           </md-input-container>
           <md-input-container class="md-input-has-placeholder md-block"  flex-gt-sm>
                <label>Toppings</label>
                <md-select ng-disabled="vm.oli.pizza == undefined || vm.oli.pizza == null" ng-model="vm.oli.toppingOrderLineItems" ng-model-options="{trackBy: '$value.id'}" name="toppingsInput" required multiple>                    
                    <md-optgroup label="Toppings">
                        <md-option ng-value="item" ng-repeat="item in vm.toppings">{{item.name}} - <span ng-if="vm.oli.pizza.name == 'small'">{{item.small | currency}}</span><span ng-if="vm.oli.pizza.name == 'medium'">{{item.medium | currency}}</span> <span ng-if="vm.oli.pizza.name == 'large'">{{item.large | currency}}</span></md-option>
                    </md-optgroup>
                </md-select>
           </md-input-container> 
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.submit()"
                           class="send-button md-accent md-raised"
                           ng-disabled="oliForm.$invalid || oliForm.$pristine"
                           aria-label="SUBMIT">
                    SUBMIT
                </md-button>                         
            </div>
            <div layout="row">
                <md-button class="button button-assertive" ng-click="vm.cancel()" aria-label="Cancel">
                    CANCEL
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>

