<!-- DIALOG -->
<md-dialog class="trip-dialog" aria-label="New Hotel Stay" flex="70">

    <form name="oliForm" class="md-inline-form" ng-disabled="vm.updating" novalidate>
        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent" layout="column">
            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row">
                <span class="title">Receipt</span>
                <span flex></span>  
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                  <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
                </md-button>                            
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding ms-scroll>
            <md-list class="margin-top-20">
                <md-list-item ng-repeat="oli in vm.order.orderLineItems track by $index">
                    <p>{{oli.quantity}} <span>{{oli.pizza.name}}</span>, <span>{{vm.toWords(oli.toppingOrderLineItems.length)}} Topping Pizza - </span><span ng-repeat="topping in oli.toppingOrderLineItems">{{topping.name}} <span ng-if="!$last">and</span> </span><span>: {{oli.subtotal * oli.quantity | currency}}</span></p>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>                
            </md-list>            
            <div class="margin-left-20">
                <md-divider ></md-divider>
                <h4>Subtotal : {{vm.order.subtotal | currency}}</h4>
                <h4>GST : {{vm.order.gst | currency}}</h4>
                <h4>Total : {{vm.order.subtotal + vm.order.gst | currency}}</h4>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>