<!-- DIALOG -->
<md-dialog class="field-dialog" aria-label="New Hotel Stay" flex="30">

    <form name="fieldDialogForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent" layout="column">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools md-toolbar-tools-top" layout="row" layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <span flex></span>
                <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.showProgress">
                    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1"  md-diameter="30"></md-progress-circular>
                    loading....
                </div>
                <md-button class="md-icon-button" ng-click="vm.close()" aria-label="Close dialog">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding ms-scroll>

            <md-input-container class="md-icon-float md-block margin-top-15">
                <label>Name (required)</label>                    
                <input autofocus ng-model="vm.data.name" name="nameInput" md-input-name="nameInput" type="text" ng-required="true">
                <div ng-messages="fieldDialogForm.nameInput.$error" md-auto-hide="false" ng-show="fieldDialogForm.nameInput.$touched">
                    <div ng-message when="required"><span translate>Please enter the Name.</span></div>                    
                </div>
            </md-input-container>                    

        </md-dialog-content>    
        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-click="vm.submit()"
                           class="send-button md-accent md-raised"
                           ng-disabled="fieldDialogForm.$invalid || vm.showProgress"                           
                           aria-label="SUBMIT">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular ng-if="vm.showProgress"  md-mode="indeterminate" class="md-accent md-hue-1 margin-left-10 margin-right-20 margin-top-10"  md-diameter="20"></md-progress-circular>
                        Submit
                    </div>
                </md-button>                         
            </div>
            <div layout="row">
                <md-button class="button button-assertive" ng-click="vm.close()" aria-label="CANCEL">
                    CANCEL
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->
    </form>

</md-dialog>