<md-dialog aria-label="" class="contact-dialog">
  	<form name="contactForm">
    	<md-toolbar>
    		<div class="md-toolbar-tools">
		        <h2>Delete Entry</h2>
		        <span flex></span>
		        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.showProgress">
                    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1"  md-diameter="30"></md-progress-circular>
                </div>
		        <md-button class="md-icon-button" ng-click="vm.cancel()">
		          <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
		        </md-button>
		    </div>
    	</md-toolbar>
    	<md-dialog-content latout="column" layout-padding>
    		<div layout-gt-sm="row" ng-model="vm.text">
    		  Are you sure you want to delete?
    		</div>
    	</md-dialog-content>
    	<md-dialog-actions layout="row">
    		<span flex></span>
    		<md-button ng-click="vm.cancel()" aria-label="Close">
	        	No
	      	</md-button>
	      	<md-button ng-click="vm.delete()" ng-disabled ="showProgress" style="margin-right:20px;" aria-label="Submit">
	        	YES
	      	</md-button>
    	</md-dialog-actions>
    </form>
</md-dialog>