<md-dialog aria-label=""  class="contact-dialog" flex="50">
  	<form name="venueForm">
    	<md-toolbar>
    		<div class="md-toolbar-tools">
		        <h2>{{vm.form_title}}</h2>
		        <span flex></span>
		        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="vm.showProgress">
                    <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1"  md-diameter="30"></md-progress-circular>
                </div>
		        <md-button class="md-icon-button" ng-click="vm.cancel()">
		          <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
		        </md-button>
		    </div>
    	</md-toolbar>
    	<md-dialog-content layout="column" >
            <md-table-container class="margin-top-20" layout-fill>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                          <th md-column><span>Date</span></th>
                          <th md-column><span>Method</span></th>
                          <th md-column><span>User</span></th>                         
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="item in vm.data">
                          <td md-cell><time>{{item.created_at | amDateFormat: 'YYYY-MM-DD'}}</time></td>
                          <td md-cell>{{item._method}}</td>
                          <td md-cell>{{item.user.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
    	</md-dialog-content>
    	<md-dialog-actions layout="row">
    		<span flex></span>
    		<md-button ng-click="vm.cancel()" aria-label="Cancel" aria-label="Cancel">
	        	Cancel
	      	</md-button>	      	
    	</md-dialog-actions>
    </form>
</md-dialog>