<!-- DIALOG -->
<md-dialog class="progress-dialog" aria-label="Progress Dialog" flex="50">
	<md-dialog-content layout-padding>
		<h2>{{vm.message}}</h2>
		<md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1" md-diameter="50"></md-progress-circular>
	</md-dialog-content>
</md-dialog>